{% extends ':app:login.html.twig' %}

{% block title %}403 Доступ запрещен!{% endblock %}

{% block body %}
    <div class="middle-box text-center animated fadeInDown">
        <h1>403</h1>
        <h3 class="font-bold">Доступ запрещен</h3>

        <div class="error-desc">
            У вас нет прав доступа к данному сайту или разделу сайта.
            Для предоставления прав доступа обратитесь к своему руководителю!
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
